@charset "UTF-8";

.markdown code {
	font-size: 13px;
	background-color: rgba(190, 190, 190, .2);
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px 5px;
}

.markdown pre {
	display: block;
	font-size: 13px;
	line-height: 1.5;
	word-break: break-all;
	word-wrap: break-word;
	background-color: rgba(190, 190, 190, .2);
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 20px 0;
	padding: 15px;
	overflow: auto;
}
.markdown pre code {
	background-color: transparent;
	border: none;
	border-radius: none;
	padding: 0;
}

.markdown blockquote {
	color: #666;
	font-size: 14px;
	border-left: 4px solid #ddd;
	margin: 20px 0;
	padding: 0 15px;
}
