@charset "UTF-8";

@font-face {
	font-family: 'Koruri';
	font-weight: normal;
	src: url('/fonts/Koruri-Regular-sub.eot') format('eot');
	src: url('/fonts/Koruri-Regular-sub.eot?#iefix') format('embedded-opentype'), url('/fonts/Koruri-Regular-sub.woff') format('woff'), url('/fonts/Koruri-Regular-sub.ttf') format('truetype');
}
@font-face {
	font-family: 'Koruri';
	font-weight: bold;
	src: url('/fonts/Koruri-Semibold-sub.eot') format('eot');
	src: url('/fonts/Koruri-Semibold-sub.eot?#iefix') format('embedded-opentype'), url('/fonts/Koruri-Semibold-sub.woff') format('woff'), url('/fonts/Koruri-Semibold-sub.ttf') format('truetype');
}

body {
	color: #535362;
	font-size: 16px;
	line-height: 1;
	font-family: Verdena, Koruri, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

a img {
	border: none;
}

#subnav {
	background-color: #ff9326;
	width: 100%;
}
	#subnav .subnav-inner {
		position: relative;
		margin: 0 auto;
		width: 1100px;
		height: 44px;
		z-index: 10;
	}
		#subnav .subnav-inner .logo {
			position: absolute;
			left: 0;
			top: 22px;
		}
		#subnav .subnav-inner ul {
			position: absolute;
			right: 0;
			top: 10px;
			margin: 0;
			padding: 0;
		}
			#subnav .subnav-inner ul li {
				float: left;
				list-style: none;
				margin: 0 0 0 20px;
				padding: 0;
			}

#container {
	position: relative;
	background: #fff url("/images/bg_sub.jpg") top center no-repeat;
	padding-bottom: 100px;
	height: auto !important;
	z-index: 0;
}
#container:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

#header {
	margin: 0 auto;
	width: 1100px;
	height: 138px;
}
	#header h1 {
		color: #9797a6;
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 10px;
		margin: 0 0 0 200px;
		padding: 76px 0 0 0;
	}

#main {
	margin: 0 auto;
	width: 1100px;
}
	#main .nav {
		float: left;
		width: 160px;
	}
		#main .nav ul {
			text-align: right;
			margin: 0;
			padding: 60px 0 0 0;
		}
			#main .nav ul li {
				font-size: 18px;
				font-family: "Montserrat Alternates", sans-serif;
				list-style: none;
				margin: 0 0 20px 0;
				padding: 0;
			}
				#main .nav ul li a {
					color: #9797a6;
					text-decoration: none;
				}
				#main .nav ul li a:hover {
					color: #ff9326;
				}
	#main .body {
		float: right;
		padding-top: 20px;
		width: 860px;
	}
		#main .body .article {
			margin-top: 40px;
		}
			#main .body .article h2 {
				color: #241607;
				font-size: 20px;
				text-shadow: 0 2px 1px #fff;
				margin: 0 0 20px 0;
			}
			#main .body .article p {
				line-height: 1.6;
				text-shadow: 0 0 1px rgba(0, 0, 0, .1);
				margin: 0 0 10px 0;
			}

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
	#footer p.copyright {
		color: #9797a6;
		font-size: 11px;
		margin: 30px auto;
		width: 1100px;
	}

