@charset "UTF-8";

@font-face {
	font-family: 'Koruri';
	src: url('/fonts/Koruri-Regular-sub.eot') format('eot');
	src: url('/fonts/Koruri-Regular-sub.eot?#iefix') format('embedded-opentype'), url('/fonts/Koruri-Regular-sub.woff') format('woff'), url('/fonts/Koruri-Regular-sub.ttf') format('truetype');
}
@font-face {
	font-family: 'KoruriBold';
	src: url('/fonts/Koruri-Semibold-sub.eot') format('eot');
	src: url('/fonts/Koruri-Semibold-sub.eot?#iefix') format('embedded-opentype'), url('/fonts/Koruri-Semibold-sub.woff') format('woff'), url('/fonts/Koruri-Semibold-sub.ttf') format('truetype');
}

body {
	color: #333;
	font-size: 14px;
	line-height: 1;
	font-family: Koruri, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

strong {
	font-family: KoruriBold;
	font-weight: bold;
}

a img {
	border: none;
}

#subnav {
	background-color: #ee7f3c;
	width: 100%;
}
	#subnav .subnav-inner {
		position: relative;
		margin: 0 auto;
		width: 1100px;
		height: 44px;
		z-index: 10;
	}
		#subnav .subnav-inner .logo {
			position: absolute;
			left: 0;
			top: 22px;
		}
		#subnav .subnav-inner ul {
			position: absolute;
			right: 0;
			top: 10px;
			margin: 0;
			padding: 0;
		}
			#subnav .subnav-inner ul li {
				float: left;
				list-style: none;
				margin: 0 0 0 20px;
				padding: 0;
			}

#container {
	position: relative;
	background: #fff url("/images/bg_main.jpg") top center no-repeat;
	height: auto !important;
	z-index: 0;
}

#header {
	margin: 0 auto;
	width: 1100px;
	height: 138px;
}
	#header h1 {
		color: #666;
		font-size: 24px;
		font-weight: normal;
		letter-spacing: 7px;
		margin: 0 0 0 200px;
		padding: 76px 0 0 0;
	}

#main {
	margin: 0 auto;
	width: 1100px;
}
	#main .nav {
		float: left;
		width: 160px;
	}
		#main .nav ul {
			text-align: right;
			margin: 0;
			padding: 60px 0 0 0;
		}
			#main .nav ul li {
				font-size: 114.3%;
				font-family: 'Montserrat Alternates', sans-serif;
				list-style: none;
				margin: 0 0 20px 0;
				padding: 0;
			}
				#main .nav ul li a {
					color: #999;
					text-decoration: none;
				}
				#main .nav ul li a:hover {
					color: #ee7f3c;
				}
	#main .body {
		float: right;
		width: 860px;
	}

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
	#footer p.copyright {
		color: #999;
		font-size: 78.6%;
		margin: 30px auto;
		width: 1100px;
	}

