@charset "UTF-8";

@font-face {
	font-family: 'Koruri';
	font-weight: normal;
	src: url('/fonts/Koruri-Regular-sub.eot') format('eot');
	src: url('/fonts/Koruri-Regular-sub.eot?#iefix') format('embedded-opentype'), url('/fonts/Koruri-Regular-sub.woff') format('woff'), url('/fonts/Koruri-Regular-sub.ttf') format('truetype');
}
@font-face {
	font-family: 'Koruri';
	font-weight: bold;
	src: url('/fonts/Koruri-Semibold-sub.eot') format('eot');
	src: url('/fonts/Koruri-Semibold-sub.eot?#iefix') format('embedded-opentype'), url('/fonts/Koruri-Semibold-sub.woff') format('woff'), url('/fonts/Koruri-Semibold-sub.ttf') format('truetype');
}

body {
	color: #535362;
	font-size: 16px;
	line-height: 1;
	font-family: Verdena, Koruri, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

a {
	color: #999;
	text-decoration: underline;
}

a:hover {
	color: #ff9326;
	text-decoration: none;
}

a img {
	border: none;
}

table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
	max-width: 100%;
}

table > thead > tr > th,
table > tbody > tr > th,
table > thead > tr > td,
table > tbody > tr > td {
	line-height: 1.4;
	border: 1px solid #ddd;
	vertical-align: top;
	padding: 10px;
}

th {
	text-align: left;
}

.clearfix {
	display: inline-table;
}
.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

#subnav {
	position: fixed;
	left: 0;
	top: 0;
	background-color: #ff9326;
	width: 100%;
	z-index: 10;
}
	#subnav .subnav-inner {
		position: relative;
		margin: 0 auto;
		width: 1100px;
		height: 44px;
		z-index: 10;
	}
		#subnav .subnav-inner .logo {
			position: absolute;
			left: 0;
			top: 22px;
		}
			#subnav .subnav-inner ul.altnav {
				display: none;
				position: absolute;
				left: 180px;
				top: 13px;
				margin: 0;
				padding: 0;
			}
				#subnav .subnav-inner ul.altnav li {
					float: left;
					font-size: 18px;
					font-family: "Montserrat Alternates", sans-serif;
					list-style: none;
					margin: 0 0 0 20px;
					padding: 0;
				}
					#subnav .subnav-inner ul.altnav li a {
						color: #fff;
						text-decoration: none;
					}
					#subnav .subnav-inner ul.altnav li a:hover {
						color: #eee;
					}
			#subnav .subnav-inner ul.rightnav {
				position: absolute;
				right: 0;
				top: 10px;
				margin: 0;
				padding: 0;
			}
				#subnav .subnav-inner ul.rightnav li {
					float: left;
					list-style: none;
					margin: 0 0 0 20px;
					padding: 0;
				}

#container {
	position: relative;
	background: #fff url("/images/bg_sub.jpg") top center no-repeat;
	background-attachment: fixed;
	padding-bottom: 100px;
	height: auto !important;
	z-index: 0;
}
#container:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

#header {
	margin: 0 auto;
	width: 1100px;
	height: 182px;
}
	#header h1 {
		color: #9797a6;
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 10px;
		margin: 0 0 0 200px;
		padding: 120px 0 0 0;
	}

#main {
	margin: 0 auto;
	width: 1100px;
}
	#main .nav {
		float: left;
		width: 160px;
	}
		#main .nav ul {
			text-align: right;
			margin: 0;
			padding: 64px 0 0 0;
		}
			#main .nav ul li {
				font-size: 18px;
				font-family: "Montserrat Alternates", sans-serif;
				list-style: none;
				margin: 0 0 20px 0;
				padding: 0;
			}
				#main .nav ul li a {
					color: #9797a6;
					text-decoration: none;
				}
				#main .nav ul li a:hover {
					color: #ff9326;
				}
		#main .nav .ad-left-bottom {
			margin-top: 80px;
		}
	#main .body {
		float: right;
		width: 860px;
	}
		#main .body h2 {
			color: #241607;
			font-size: 20px;
			line-height: 1.4;
			text-shadow: 0 2px 1px #fff;
			margin: 0 0 20px 0;
		}
		#main .body p {
			line-height: 1.6;
			text-shadow: 0 0 1px rgba(0, 0, 0, .1);
			margin: 0 0 10px 0;
		}
		#main .body .section {
			margin-top: 60px;
		}

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
	#footer p.copyright {
		color: #9797a6;
		font-size: 12px;
		margin: 30px auto;
		width: 1100px;
	}

ul.pager {
	list-style: none;
	padding: 20px 0;
	width: 100%;
}
ul.pager:after {
	content: " ";
	display: block;
}
	ul.pager li {
		display: inline;
		margin-bottom: 15px;
	}
		ul.pager li.left {
			float: left;
		}
		ul.pager li.right {
			float: right;
		}
