{% extends 'base.html' %}

{% block title %}ニーモニックについて｜{% endblock %}

{% block content %}
	<section class="section">
		<h2>限りなく個人事業主に近い法人格です</h2>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
	</section>
	<section class="section">
		<h2>限りなく個人事業主に近い法人格です</h2>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
	</section>
	<section class="section">
		<h2>限りなく個人事業主に近い法人格です</h2>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
	</section>
{% endblock %}