{% extends 'base.html' %}

{% block description %}会社紹介・概要のページです。{% endblock %}
{% block keywords %},会社概要{% endblock %}
{% block og_title %}ニーモニックについて｜{% endblock %}
{% block og_description %}会社紹介・概要のページです。{% endblock %}
{% block title %}ニーモニックについて｜{% endblock %}

{% block head %}
	<style>
		table.companyProfile th {
			white-space: nowrap;
		}
		.withPortrait {
			background: transparent url("/images/portrait.jpg") left top no-repeat;
			padding-left: 190px;
			min-height: 200px;
		}
		.withPortrait h3 {
			color: #666;
			font-size: 16px;
			font-weight: normal;
			margin: 0 0 10px 0;
		}
		.withPortrait h3 strong {
			color: #000;
			font-size: 18px;
			font-weight: bold;
			padding-right: 10px;
		}
		.withPortrait p {
			font-size: 14px;
			margin-bottom: 5px !important;
		}
	{% if not is_pc %}
		table.companyProfile {
			border: none;
		}
		table.companyProfile tr {
			display: block;
			margin-bottom: 15px;
		}
		table.companyProfile th,
		table.companyProfile td {
			display: list-item;
			border: none;
			list-style: none;
			padding: 2px 0;
		}
		.withPortrait {
			background-image: none;
			padding-left: 0;
		}
	{% endif %}
	</style>
{% endblock %}

{% block content %}
	<section class="section">
		<h2>限りなく個人事業主に近い会社です</h2>
		<p>株式会社ニーモニックは、長年フリーランスとしてデザインや開発案件などを手がけてきた小林宗明が代表をつとめる「なんちゃってベンチャー」な会社です。個人事業主から法人化した、世間でよく言うところの「法人成り」パターン。2014年にスタートし、社員（＝社長）もたったひとりの小さな会社です。</p>
	</section>
	<section class="section">
		<h2>会社概要</h2>
		<table class="companyProfile">
			<tbody>
				<tr>
					<th>会社名</th>
					<td>株式会社ニーモニック</td>
				</tr>
				<tr>
					<th>設立年月日</th>
					<td>2014年2月14日</td>
				</tr>
				<tr>
					<th>本店所在地</th>
					<td>東京都品川区平塚三丁目2番13-504号</td>
				</tr>
				<tr>
					<th>役員</th>
					<td>代表取締役：小林宗明</td>
				</tr>
				<tr>
					<th>社員数</th>
					<td>1名（2019年2月現在）</td>
				</tr>
				<tr>
					<th>主な事業内容</th>
					<td>ウェブサイト制作（企画制作、デザイン制作、システム開発）<br />その他インターネットを利用したサービスの開発</td>
				</tr>
			</tbody>
		</table>
	</section>
	<section class="section">
		<h2>代表プロフィール</h2>
		<div class="withPortrait">
			<h3><strong>小林宗明</strong> Somin Kobayashi</h3>
			<p>1968年、京都府舞鶴市生まれ。国立舞鶴高専中退。1987年（当時19歳）に上京し、ラジオ番組制作会社のアルバイトなどを経てフリーのライター&amp;放送作家見習いとして仕事を始める。1995年あたりからインターネット関連の仕事が増え始め、メーン業務がウェブデザインやシステム開発、サーバ管理などにシフトする。2000年以降いくつかの制作会社に所属した後、2010年、再びフリーランスに戻る。2014年2月、46歳の誕生日を迎える直前に法人化。株式会社ニーモニックの代表取締役となる。</p>
			<p>Fecebook: <a href="https://www.facebook.com/somin1968">@somin1968</a></p>
		</div>
	</section>
{% endblock %}