{% extends 'base.html' %}

{% block title %}ニーモニックについて｜{% endblock %}

{% block content %}
	<article class="article">
		<h2>限りなく個人事業主に近い法人格です</h2>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
	</article>
	<article class="article">
		<h2>限りなく個人事業主に近い法人格です</h2>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
	</article>
	<article class="article">
		<h2>限りなく個人事業主に近い法人格です</h2>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
		<p>本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。本文ダミー。</p>
	</article>
{% endblock %}