<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="株式会社ニーモニックのオフィシャルサイト。{% block description %}{% endblock %}">
	<meta name="keywords" content="Mnemonic,ニーモニック,ニモニク,システム開発,エンジニア{% block keywords %}{% endblock %}">
	<meta property="og:title" content="{% block og_title %}{% endblock %}ニモニク - 株式会社ニーモニック" />
	<meta property="og:image" content="http://www.mnemonic.co.jp/images/ogimage.png" />
	<meta property="og:description" content="株式会社ニーモニックのオフィシャルサイト。{% block og_description %}{% endblock %}" />
	<title>{% block title %}{% endblock %}ニモニク - 株式会社ニーモニック</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/glyphicon.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/js/common.js"></script>
	{%- block head %}
	{% endblock -%}
</head>
<body>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-55434075-1', 'auto');
	ga('send', 'pageview');
</script>
	<nav id="subnav">
		<div class="subnav-inner">
			<div class="logo"><a href="/"><img src="/images/logo.png" alt="ニモニク" /></a></div>
			<ul class="altnav" id="altnav" style="display: none;"></ul>
			<ul class="rightnav">
				<li><a href="https://twitter.com/mnemoniccojp"><img src="/images/socialicon_twitter.png" alt="Twitter" /></a></li>
				<li><a href="https://www.facebook.com/mnemoniccojp"><img src="/images/socialicon_facebook.png" alt="Facebook" /></a></li>
				<li><a href="https://plus.google.com/115250456205583744555" rel="publisher"><img src="/images/socialicon_googleplus.png" alt="Google+" /></a></li>
			</ul>
		</div>
	</nav>
	<div id="container">
		<header id="header">
			<h1><span>株式会社ニーモニック</span></h1>
		</header>
		<div id="main">
			<nav class="nav" id="nav" role="navigation">
				<ul>
					<li class="about"><a href="/page/about">About</a></li>
					<li class="blog"><a href="/blog">Blog</a></li>
					<li class="contact"><a href="/page/contact">Contact</a></li>
				</ul>
				<div class="ad-left-bottom">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<ins class="adsbygoogle" style="display:inline-block;width:160px;height:200px" data-ad-client="ca-pub-4887705385405786" data-ad-slot="6874844272"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</nav>
			<div class="body">
				{%- block content %}
				{% endblock -%}
			</div>
		</div>
		<footer id="footer">
			<p class="copyright">&copy; Mnemonic Co., Ltd. Some Rights Reserved.</p>
		</footer>
	</div>
	<div id="fb-root"></div>
</body>
</html>