{% extends 'base.html' %}

{% block description %}ブログ記事一覧のページです。{% endblock %}
{% block keywords %},ブログ{% endblock %}
{% block og_title %}ブログ記事一覧｜{% endblock %}
{% block og_description %}ブログ記事一覧のページです。{% endblock %}
{% block title %}ブログ記事一覧｜{% endblock %}

{% block head %}
	<style>
		ul.entry-list {
			margin: 0;
			padding: 0;
		}
		ul.entry-list li {
			position: relative;
			list-style: none;
			margin: 25px 0;
			padding: 0 0 0 85px;
			min-height: 60px;
		}
		ul.entry-list li dl.calendar {
			position: absolute;
			left: 0;
			top: 0;
			margin: 0;
			padding: 0;
			width: 60px;
		}
		ul.entry-list li dl.calendar dt {
			text-align: center;
			color: #fff;
			font-size: 12px;
			line-height: 1;
			font-weight: bold;
			text-shadow: 0 -1px 0 #999;
			background-color: #ff9326;
			margin: 0;
			padding: 3px 0;
		}
		ul.entry-list li dl.calendar dd {
			text-align: center;
			color: #000;
			font-size: 32px;
			line-height: 1;
			font-weight: bold;
			border: 1px solid #666;
			margin: 1px 0 0 0;
			padding: 3px 0;
		}
		ul.entry-list li h3 {
			font-size: 20px;
			font-weight: normal;
			margin: 0 0 8px 0;
			padding: 6px 0 0 0;
		}
		ul.entry-list li h3 a {
			color: #000;
			text-decoration: none;
		}
		ul.entry-list li p.meta {
			color: #999;
			font-size: 12px;
			margin: 0 !important;
			padding: 0;
		}
		ul.entry-list li p.meta .separator {
			color: #eee;
			padding: 0 10px;
		}
	</style>
{% endblock %}

{% block content %}
	<section class="section">
		<p class="lead">日々の業務において技術面で躓いたりハマったりしたことがあれば、会社のアカウント（<a href="https://twitter.com/mnemoniccojp">@mnemoniccojp</a>）で逐一ツイートするようにしています。そして当 blog は、これらのツイートにフォロー追記したもの。いわゆるひとつのオウンドメディアってやつです。ちなみに裏側は、Google App Engine で作ったオリジナルの CMS となっております。</p>
		<p class="lead">まだまだ使いづらい部分もありますが、少しづつ改良していきますので、どうか長い目で見てやってください。</p>
	</section>
	<section class="section">
		<h2>ブログ記事一覧</h2>
	{% if entries %}
		<ul class="entry-list">
		{% for entry in entries %}
			<li>
				<dl class="calendar">
					<dt>{{ entry.date | datetimeBySpec('%b') }}</dt>
					<dd>{{ entry.date | datetimeBySpec('%d') }}</dd>
				</dl>
				<h3><a href="/blog/{{ entry.key.id() }}">{{ entry.title }}</a></h3>
				<p class="meta"><span class="date"><span class="glyphicon glyphicon-time"></span> {{ entry.date | datetime2jdate(True) }}</span><span class="separator">｜</span><span class="views"><span class="glyphicon glyphicon-eye-open"></span> {{ entry.views }}</span><span class="separator">｜</span><span class="tags"><span class="glyphicon glyphicon-tag"></span> {{ entry.tags | join('、') }}</span></p>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p><em>記事がありません。</em></p>
	{% endif %}
	</section>
{% endblock %}