{% extends 'base.html' %}

{% block title %}ブログ記事一覧｜{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/css/blog.css" />
{% endblock %}

{% block content %}
	<section class="section">
		<p class="lead">ブログについての説明ダミーです。ブログについての説明ダミーです。ブログについての説明ダミーです。ブログについての説明ダミーです。ブログについての説明ダミーです。ブログについての説明ダミーです。ブログについての説明ダミーです。ブログについての説明ダミーです。ブログについての説明ダミーです。</p>
	</section>
	<section class="section">
		<h2>ブログ記事一覧</h2>
	{% if entries %}
		<ul class="entry-list">
		{% for entry in entries %}
			<li>
				<h3><a href="/blog/{{ entry.key.id() }}">{{ entry.title }}</a></h3>
				<p class="meta"><span class="date"><span class="glyphicon glyphicon-time"></span> {{ entry.date | datetime2JDate }}</span><span class="separator">｜</span><span class="views"><span class="glyphicon glyphicon-eye-open"></span> {{ entry.views }}</span></p>
				<div class="thumb"><a href="/blog/{{ entry.key.id() }}"><img src="/images/noimage.png" alt="no image" /></a></div>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p><em>記事がありません。</em></p>
	{% endif %}
	</section>
{% endblock %}