{% extends 'base.html' %}

{% block title %}ブログ記事: {{ title }}｜{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/css/blog.css" />
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script>
		$(function() {
			setInterval(function() {
				$('.twitter-tweet-rendered').css({
					maxWidth: '100%',
					width: '860px'
				});
			}, 100);
		});
	</script>
{% endblock %}

{% block content %}
	<header id="blog-header">
		<h1>{{ entry.title }}</h1>
		<p class="meta"><span class="date"><span class="glyphicon glyphicon-time"></span> {{ entry.date | datetime2JDate }}</span></p>
	{% if entry.tags | length %}
		<ul class="tags clearfix">
			<li><span class="glyphicon glyphicon-tag"></span></li>
		{% for tag in entry.tags %}
			<li><a href="#">{{ tag }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
	</header>
{% if entry.twitter_ids | length %}
	<section class="section tweet">
	{% for id in entry.twitter_ids %}
		<blockquote class="twitter-tweet" lang="ja"><a href="https://twitter.com/mnemoniccojp/statuses/{{ id }}">読み込み中...</a></blockquote>
	{% endfor %}
	</section>
{% endif %}
	<section class="section markdown-body">
		{{ entry.body | mark2html }}
	</section>
{% endblock %}