{% extends 'base.html' %}

{% block head %}
	<style>
		#container {
			background-image: url("/images/bg_main.jpg");
		}
		#main .body {
			padding-top: 57px;
		}
		#main .body p {
			color: #333;
			font-size: 16px;
			line-height: 1.8;
			text-shadow: 0 1px 2px #fff;
			filter: dropshadow(color=white, offx=0, offy=1);
			margin: 0 0 .6em 0;
		}
	</style>
{% endblock %}

{% block content %}
	<p><strong>少しづつ機能追加しています。</strong></p>
	<br><br>
	<p><em>2014/09/21</em> &mdash;「Blog」を公開しました。まずは現時点から過去に遡って投稿する予定です。</p>
{% endblock %}
