{% extends 'base.jinja2' %}

{% block head %}
	<style>
		#container {
			background-image: url("/images/bg_main.jpg");
		}
		#main .body {
			padding-top: 57px;
		}
		#main .body p {
			color: #333;
			font-size: 16px;
			line-height: 1.8;
			text-shadow: 0 1px 2px #fff;
			margin: 0 0 .6em 0;
		}
	</style>
{% endblock %}

{% block content %}
	<p><strong>株式会社ニーモニックは2014年2月14日、スタートしました。</strong></p>
	<p><strong>ウェブサイトは鋭意作成中ですので、しばらくお待ちください。</strong></p>
{% endblock %}
